@import "./reset.scss";

@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

$body-color: #333333;
$border-color: #cccccc;

html {
  font-family: "VT323", monospace;
  font-size: 16px;
  color: $body-color;
}

h1 {
  font-size: 2em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

a {
  color: blue;
  text-decoration: underline;
  &:visited {
    color: blue;
  }
}
