@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono&display=swap');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Space Mono', monospace;
$linkFont: 'Open Sans', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

a {
  font-family: $linkFont;
}
