@import "./reset.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

$body-color: #333333;
$border-color: #cccccc;

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: $body-color;
}

h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.5rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

a {
  color: $body-color;
  font-size: 1.1em;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: $body-color;
  &:visited {
    color: $body-color;
    border-color: $body-color;
  }
  &:hover {
    color: royalblue;
    border-color: royalblue;
  }
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 2rem;
}

.footnote {
  opacity: 0.7;
  padding-top: 0.5rem;
  display: block;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  border: 1px solid $border-color;
  border-radius: 6px;
  overflow: hidden;
  & > img {
    object-fit: cover;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  & > .column {
    display: block;
    flex: 1;
    &:not(:last-of-type) {
      padding-right: 2rem;
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-12 {
        width: percentage($i / 12);
        flex: none;
      }
    }
  }
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  & > &-left {
    margin-right: 1rem;
  }
  & > &-content {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  & > .left {
    text-align: left;
    flex: 1;
  }
  & > .right {
    text-align: right;
    flex: 1;
  }
}

.name {
  color: #000;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.experience {
  &-item {
    margin-bottom: 2rem;
    &-title {
      margin-bottom: 0;
    }
  }
}

.skills {
  text-align: right;
}

.projects-item,
.references-item,
.skills-category {
  margin-bottom: 0.4rem;
}
