@import "./reset.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

$link-color: royalblue;

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: #333333;
}

h1 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4em;
}

h4 {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

a {
  color: $link-color;
  font-size: 1.1em;
  &:visited {
    color: $link-color;
  }
  &:hover {
    background-color: $link-color;
    color: white;
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 2rem;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  border: 1px solid #cccccc;
  border-radius: 6px;
  overflow: hidden;
  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  & > .column {
    display: block;
    padding: 0 2rem;
    flex: 1;
    @for $i from 1 through 12 {
      &.is-#{$i}-12 {
        width: percentage($i / 12);
        flex: none;
      }
    }
  }
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  & > &-left {
    margin-right: 1rem;
  }
  & > &-content {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  & > .left {
    text-align: left;
    flex: 1;
  }
  & > .right {
    text-align: right;
    flex: 1;
  }
}

.skills {
  text-align: right;
  &-category {
    margin-bottom: 0.4rem;
  }
}

.experience {
  &-item {
    margin-bottom: 2rem;
  }
}

.name {
  color: #000;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
