<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/animations.css' | relative_url }}">
    <script src="{{ '/assets/js/home.js' | relative_url }}" defer async></script>
  </head>
  <body>
    <div class="container">
      <h1 class="home-title">{{ site.title }}</h1>
      <h2 id="fun-text"></h2>
      <ul class="home-nav">
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      {{ content }}
    </div>
  </body>
</html>
