<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/paper.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/resume.css' | relative_url }}"
    />
  </head>

  <body class="A4">
    <section class="sheet padding-10mm">
      <section class="section">
        <div class="header">
          <div class="left">
            <div>
              <h1 class="name">{{ page.fullname }}</h1>
            </div>

            <div class="columns">
              <div class="column">
                <div>
                  <span>
                    {{ page.location }}
                  </span>
                </div>
                <div>
                  <span>
                    <a href="//{{page.websiteUrl}}">
                      {{ page.website }}
                    </a>
                  </span>
                </div>
                <div>
                  <a href="//{{page.contactUrl}}">
                    <strong>Contact me</strong>
                  </a>
                </div>
              </div>
              <div class="column">
                {% for social in site.data.resume.socials %}
                <div>
                  <span>
                    <a href="{{ social.externalUrl }}" target="_blank"
                      >{{ social.name }}</a
                    >
                  </span>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="right">
            <a
              href="https://github.com/thomasraydeniscool/tom.rayden.co"
              target="_blank"
              title="This resume is open source!"
            >
              <span>View Source</span>
            </a>
          </div>
        </div>
      </section>

      <div class="columns">
        <div class="column is-3-12">
          <div class="skills">
            <h1>Skills</h1>
            {% for category in site.data.resume.skills %} {% if category.hide !=
            true %}
            <div class="skills-category">
              <h3>{{ category.name }}</h3>
              {% assign skills = category.items | sort: 'level' | reverse %} {%
              for skill in skills %}
              <span>
                <span {% if skill.level
                  >= 10 %}class="emphasis"{% endif %}>{{ skill.name }}</span
                >{% if forloop.last == false %}<span>,</span>{% endif %}
              </span>
              {% endfor %}
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
        <div class="column">
          <section class="section">
            <div class="bio">
              <h1>Bio</h1>

              <div class="bio-content">
                <p>{{ content }}</p>
              </div>
            </div>
          </section>

          <section class="section">
            <div class="experience">
              <h1>Experience</h1>

              {% assign experience = site.experience | sort: 'order' %} {% for
              item in experience %}
              <div class="experience-item">
                <div class="media">
                  {% if item.image %}
                  <div class="media-left">
                    <div class="thumbnail">
                      <img src="assets/{{item.image}}" />
                    </div>
                  </div>
                  {% endif %}
                  <div class="media-content">
                    <h2 class="experience-item-title">
                      <span class="bold">{{ item.name }}&nbsp;/</span>
                      <span>{{ item.position }}</span>
                    </h2>
                    <p>{{ item.period }}, {{ item.location }}</p>
                  </div>
                </div>
                <div class="experience-item-content">
                  {{ item.content }}
                </div>
              </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </section>

    <section class="sheet padding-10mm">
      <div class="columns">
        <div class="column">
          <section class="section">
            <h1>Personal Projects</h1>

            <div class="columns">
              <div class="column">
                <div class="projects">
                  <h2>Startups</h2>
                  {% for project in site.startups %}
                  <div class="projects-item">
                    <h3>
                      {% if project.externalUrl %}
                      <a href="{{project.externalUrl}}" target="_blank"
                        >{{ project.title }}</a
                      >
                      {% else %}
                      <span>{{ project.title }}</span>
                      {% endif %}
                    </h3>
                    <p>{{ project.content }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="column">
                <div class="projects">
                  <h2>Open Source</h2>
                  {% for project in site.opensource %}
                  <div class="projects-item">
                    <h3>
                      {% if project.externalUrl %}
                      <a href="{{project.externalUrl}}" target="_blank"
                        >{{ project.title }}</a
                      >
                      {% else %}
                      <span>{{ project.title }}</span>
                      {% endif %}
                    </h3>
                    <p>{{ project.content }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </section>

          <section class="section">
            <div class="references">
              <h1>References</h1>

              <i>Contact me for references</i>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
