<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/paper.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/resume.css' | relative_url }}"
    />
  </head>

  <body class="A4">
    <section class="sheet padding-10mm">
      <section class="section">
        <div class="header">
          <div class="left">
            <div>
              <h1 class="name">{{ page.fullname }}</h1>
            </div>

            <div>
              <div>
                <span>
                  <a href="tel:+{{page.mobile}}">
                    {{ page.mobile }}
                  </a>
                </span>
              </div>
              <div>
                <span>
                  <a href="mailto:{{page.email}}">
                    {{ page.email }}
                  </a>
                </span>
              </div>
              <div>
                <span>
                  <a href="//{{page.website}}">
                    {{ page.website }}
                  </a>
                </span>
              </div>
              <div>
                <span>
                  {{ page.location }}
                </span>
              </div>
            </div>
          </div>
          <div class="right">
            <a href="https://github.com/thomasraydeniscool/tom.rayden.co">
              <span>View Source</span>
            </a>
          </div>
        </div>
      </section>

      <div class="columns">
        <div class="column is-3-12">
          <div class="skills">
            <h1>Skills</h1>
            {% for category in site.data.resume.skills %} {% if category.hide !=
            true %}
            <div class="skills-category">
              <h4>{{ category.name }}</h4>
              {% assign skills = category.items | sort: 'level' | reverse %} {%
              for skill in skills %}
              <span>
                <span>{{ skill.name }}</span>{% if forloop.last == false
                %}<span>,</span>{% endif %}
              </span>
              {% endfor %}
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
        <div class="column">
          <section class="section">
            <div class="boi">
              <h1>Bio</h1>

              <div class="bio-content">
                <p>{{ content }}</p>
              </div>
            </div>
          </section>

          <section class="section">
            <h1>Experience</h1>

            {% assign experience = site.experience | sort: 'order' %} {% for
            item in experience %}
            <div class="experience-item">
              <div class="media">
                {% if item.image %}
                <div class="media-left">
                  <div class="thumbnail">
                    <img src="assets/{{item.image}}" />
                  </div>
                </div>
                {% endif %}
                <div class="media-content">
                  <h2>
                    <span class="bold">{{ item.name }}&nbsp;/</span>
                    <span>{{ item.position }}</span>
                  </h2>
                  <p>{{ item.period }}, {{ item.location }}</p>
                </div>
              </div>
              <div class="experience-item-content">
                {{ item.content }}
              </div>
            </div>
            {% endfor %}
          </section>
        </div>
      </div>
    </section>

    <section class="sheet padding-10mm">
      <div class="columns">
        <div class="column">
          <section class="section">
            <h1>Personal Projects</h1>

            <div class="columns">
              <div class="column">
                <h2>Startups</h2>
                {% for project in site.startups %}
                <h3>{{ project.title }}</h3>
                {% endfor %}
              </div>
              <div class="column">
                <h2>Open Source</h2>
                {% for project in site.opensource %}
                <h3>{{ project.title }}</h3>
                {% endfor %}
              </div>
            </div>
          </section>

          <section class="section">
            <h1>References</h1>

            <ul>
              {% for reference in site.data.resume.references %}
              <li>{{ reference.name }}, {{ reference.mobile }}</li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
